<div class="container">
    <div class="row"><button class="btn btn-sm btn-danger pull-right" ng-click="logOUT()">LOGOUT</button></div>
    <div class="row">
        <div class="col-sm-4 javaBackground" style="border: 2px solid" ng-style="{'minHeight':containerHeight}" ng-click="gtJava()">
            <h1>Java Chat Server</h1>
        </div>
        <div class="col-sm-4 moreAppBackground" style="border: 2px solid" ng-style="{'minHeight':containerHeight}">
            <h1 class="text-danger">Other Applications</h1>
            <p class="text-info">Coming soon...</p>
        </div>
        <div class="col-sm-4 nodeBackground" style="border: 2px solid" ng-style="{'minHeight':containerHeight}" ng-click="rtNode()">
            <h1>Node Chat Server</h1>
        </div>
    </div>
</div>