<div class="container">
    <div class="row appLauncherContainer">
        <div class="col-sm-3">
            <div>Java Chat Server</div>
            <div class="appLauncherImageContainer" ng-click="gtJava()">
                <img class="appLauncherImage" src="/client_assets/images/javaTest.jpg">
            </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-3">
            <div>Other Applications</div>
            <div>Coming soon...</div>
            <div class="appLauncherImageContainer disabled">
                <img class="appLauncherImage" src="/client_assets/images/apps1.jpg">
            </div>
        </div>

        <div class="col-sm-1"></div>

        <div class="col-sm-3">
            <div>Node Chat Server</div>
            <div class="appLauncherImageContainer" ng-click="rtNode()">
                <img class="appLauncherImage" src="/client_assets/images/nodejs.jpg">
            </div>
        </div>

    </div>
</div>