<div class="container border2Solid">
    <div class="row backGray">
        <div class="col-sm-2">
            <img class="img-responsive img-rounded" src="client_assets/images/avtar.jpg">
        </div>
        <div class="pull-right">
            <span><strong><a href="javascript:void(0)">{{user.fullName}}</a></strong></span>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <ul class=" nav nav-pills nav-justified">
                <li ng-class="activeTab=='aboutMe'?'active':''" ng-click="activeTab='aboutMe'"><a href="javascript:void(0)"><strong>About Me</strong></a></li>
                <li ng-class="activeTab=='chat'?'active':''" ng-click="activeTab='chat'"><a href="javascript:void(0)"><strong>Chat</strong></a></li>
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-4">
            <h3>Friend List</h3><br>
            <ol>
                <li ng-repeat="friend in friendList track by $index">
                    <span ng-click="addToChat(friend)" ng-class="chatPerson==friend?'btn-primary':'btn-success'" class="btn">
                        {{friend.fullName}}
                    </span>
                    <span class="btn close noFloat" ng-click="removeFriend(friend.email)">&times;</span>
                </li>
            </ol>
        </div>
        <div class="col-sm-4" style="position: relative">
            <br><br><br>
            <div ng-show="activeTab=='chat' && chatPerson" class="border1Solid fixPosition">
                <div class="backGray">
                    <h3>{{chatPerson.fullName}}</h3>
                </div>
                <div class="msgDiv">
                    <div ng-repeat="chat in chatMessages">
                        <div ng-class="chat.senderEmail==user.email? 'sender text-left':'receiver text-right'" ng-class-even="text-danger">
                            {{chat.message}}
                        </div>
                    </div>
                </div>
                <form ng-submit="msgSubmit()">
                    <input type="text" ng-model="message" name="message" class="fullWIdth">
                </form>
            </div>
            <div ng-show="activeTab=='chat' && !chatPerson" class="border1Solid heightTH fixPosition">
                <div class="backGray">
                    <h3>Please click on one of your friend to chat with...</h3>
                </div>
            </div>
            <div ng-show="activeTab=='aboutMe'">


                <edit-about-me ng-show="editable"></edit-about-me>
                <display-about-me ng-show="!editable"></display-about-me>
            </div>
        </div>
        <div class="col-sm-4 text-right">
            <h3>User List</h3>
            <input ng-model="searchText" placeholder="Search by name or email">
            <ul>
                <li ng-repeat="user in userList | filter:searchText track by $index" ng-click="addFriend(user)">
                    <a href="javascript:void(0)">{{user.fullName}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>